<div class="post_contents">
  <%= link_to post.title, post_path(post), class: :record_title %>
  <div class="post_execution">
    <%= post.execution_date %>
  <div class="post_nickname">
    by<%= link_to "#{post.user.nickname}", '#', class: :greeting__link %>
  </div>
</div>
