<div class="post_contents">
  <h2><%= link_to post.title, '#', class: :record_title %></h2>
  <div class="post_execution">
    <%= post.execution_date %>
  <div class="post_nickname">
    by<%= link_to "#{post.user.nickname}", '#', class: :greeting__link %>
  </div>
</div>
