<main class="main">
  <div class="contents">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to "#{current_user.nickname}さん", user_path(current_user), class: :greeting__link %>
      </div>
    <% else %>
      <div class="not-logged-in">
        自分のペースでゆっくり進めていこう
      </div>
    <% end %>
    <div class="index_contents">
      <div class='index_records'>
        運動記録一覧
        <div class='index_record'>
          <%= render partial: 'post', collection: @posts %>
        </div>
      </div>
    </div>
  </div>
</main>