/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  width: 1450px;
  padding: 0 100px 0 30px;
  background-color: #DDFFFF;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  line-height: 60px;
}

.nav__btn {
  margin-left: 40px;
  margin-right: 100px;
}

.nav__logout {
  margin-right: 80px;
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  margin-left: 70px;
}

/* メインページ */
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("jogging3.jpg");
  background-size: cover;
  padding-bottom: 66.7%;
  background-color:rgba(255,255,255,0.7);
	background-blend-mode:lighten;
  height: 1067px;
  width: 100%;
}

.not-logged-in {
  font-size: 50px;
  font-weight: 600;
  padding: 200px 0 0 50px;
}

.index_contents {
  padding-left: 30px;
  width: 650px;
}

.index_records {
  margin: 50px 0 30px 20px;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.index_record {
  text-align: left;
}

.post_contents {
  width: 600px;
  margin-top: 30px;
}

.post_execution {
  display: flex;
}

.post_nickname {
  margin-left: 15px;
}

/* 投稿ページ */
.posts-record-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.post-box {
  display: flex;
  flex-direction: column;
}

.record-text {
  background-color: aqua;
  text-align: center;
}

.posts-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.input-execution-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-execution-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-execution-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

/*共通*/
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.record-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

/* 投稿ボタン */
.post-btn-contents {
  width: 100%;
  text-align: center;
}

.post-btn {
  background: #6699CC;
  border: 1px solid #6699CC;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}
/* 投稿ボタン */